<h1>Rxjs Operator solution:</h1>

<mat-divider></mat-divider>

<h3 style="margin-top: 20px">Implementation</h3>
<p>1. Using different operators from RxJS, such as <i>takeUntil</i> (Emits the values emitted by the source Observable until a notifier Observable emits a value)</p>
<p>2. Implementing <i>ngOnDestroy</i>lifecycle hook ( make the Observable truthy and unsubscribe it)</p>

<mat-divider></mat-divider>

<h3 style="margin-top: 20px">Advantages/Disadvantages</h3>
<p>+ Not need for a third-party library</p>
<p>- Implementing the <i>ngOnDestroy</i></p>
<p>- Verbose, need to declare a Subject to use as a notifier for the <i>takeunitl</i>method </p>



